button {
    padding: 0.5rem 2rem;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 15em;
    height: 4em;
    background-color: transparent;
    color: white;
    font-size: 150%;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-wrap: break-word;
}

@media (max-width: 1115px) {
    button {
        width: 11em;
        font-size: 110%;
    }
}

@media (max-width: 520px) {
    button {
        width: 10em;
        height: 3.5em;
        font-size: 80%;
        padding: 0.5rem 2rem;
        min-height: 48px;
    }
}